/* src/App.css */
.app {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 16px;
  overflow: auto;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1a202c;
  color: white;
  display: flex;
  flex-direction: column;
}

.main-content.loggedIn {
  padding-left: 260px;
  background: #f0f0f0;
}